.future-weather-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    color: white;
    font-weight: bold;
    gap: 10px;
}

.future-weather-container p {
    margin: 0;
}

@media (min-width: 801px) {
    .future-weather-container {
        max-width: 50vw;
        padding: 15px;
        min-width: 400px;
        align-items: flex-end;
    }
}