.location-container {
    background-color: #FFFFFF;
    padding: 15px;
    max-width: 50vw;
    min-width: 400px;
    width: 100%;
}

.location-container input, span {
    font-size: 1.5em;
    color: #808080;
}